<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<script type="text/template" id="user-template">
	<div>
		Username: <input type="text" name="name" value="<%= name %>" />
		First Name: <input type="text" name="first_name" value="<%= first_name %>" />
		Last Name: <input type="text" name="last_name" value="<%= last_name %>" />
		Email: <input type="text" name="email" value="<%= email %>" />
		Birthday: <input type="text" name="birthday" value="<%= birthday %>" />
	</div>
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
<script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
<script>
  // Your code goes here
</script>
<script src="js/user.js"></script>
</body>
</html>