<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div id="header"></div>
<div id="body"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
<script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
<script id="user-row-template" type="text/template">
    <td>
        <%- data.name %>
    </td>
    <td><%- data.first_name %></td>
    <td><%- data.last_name %></td>
    <td><%- data.email %></td>
    <td><%- data.birthday %></td>
</script>
<script id="user-list-template" type="text/template">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Users</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive user-container">
                </div>
            </div>
        </div>
    </div>
</script>
<script src="js/models/user.js"></script>
<script src="js/views/users_view.js"></script>
<script src="js/views/user_table.js"></script>
<script src="js/views/user_row.js"></script>
<script src="js/collections/users.js"></script>
<script src="app.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>